#App {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 4px;
    max-width: 600px;
    flex-grow: 1;
    justify-content: left;
    align-items: stretch;
}

#App > input {
    align-self: center;
}

#App > * {
    margin: 4px;
}

#App > #username {
    width: 250px;
}

#App > #password {
    width: 250px;
}